a {
text-decoration:none;
color:#333
}

aside {
width:30%;
float:right;
font-size:18px;
text-align:center
}

#banner {
position:relative;
z-index:-1;
vertical-align:top
}

body {
font-family:"Indie Flower","cicle gordita","Cagliostro",Arial,SansSerif;
font-size:24px;
margin:0;
max-width:100%;
color:#333
}

button {
display:inline-block;
padding:.4em .8em;
background:#6F9;
color:#333;
font-size:1.5vw;
border-radius:50px;
border-bottom-width:thick;
border-left-width:thick;
cursor:pointer;
text-shadow:.1em .1em .3em rgba(0,0,0,.45)
}

button.active {
background:#9FF
}

#contact {
padding-bottom:10%
}

h2 {
padding-top:7%
}

header {
overflow:hidden;
top:0;
position:fixed;
background-color:rgba(153,153,153,.75);
width:100%
}

.icons {
margin:auto;
width:30%;
margin-bottom:10%
}

.icons img {
width:20%;
height:auto
}

.logo {
float:left;
box-shadow:none;
width:25%;
padding-left:10%
}

main {
text-align:center;
margin:auto;
width:75%
}

#mixup {
width:100%;
display:flex;
-webkit-flex-flow:row wrap;
-webkit-justify-content:space-between;
-webkit-align-content:flex-start
}

#mixup .mix {
display:none
}

.mix:hover {
box-shadow:7px 7px 14px #555;
transform:scale(1.5)
}

nav {
float:right;
font-size:2vw;
padding-right:15%;
padding-top:3%;
text-shadow:1px 1px 2px #333
}

p {
font-size:2vw
}

#reel {
box-shadow:none;
padding-top:35%;
height:auto;
width:80%
}

#reel:hover {
transform:scale(1.5)
}

#sample {
width:85%;
height:auto
}

section {
width:90%;
display:unset
}

#title {
width:62%;
background-image:url(../site_graphics/Banner.jpg);
background-color:#9FF;
background-blend-mode:multiply;
background-size:cover;
padding:19%;
padding-bottom:30%
}

#title_text {
font-family:"Gotham",sans-serif;
font-weight:600;
font-size:3vw;
color:#555;
text-align:right;
float:right
}

video,img {
box-shadow:5px 5px 7px #333;
height:30%;
width:30%;
margin:1%;
transition:transform 1s,margin 1s,box-shadow 1s
}

@media screen and (min-width: 320px) and (max-width: 480px) {
a,nav {
color:#fff
}

aside {
width:50%
}

button {
font-size:3vw
}

h2 {
font-size:8vw
}

h3 {
font-size:5vw
}

header {
background-color:rgba(153,153,153,.85)
}

.icons {
width:60%
}

.icons img {
width:20%
}

.logo {
width:35%;
padding-left:5%
}

nav {
font-size:4.5vw;
padding-right:7%;
padding-top:5%;
text-shadow:1px 1px 2px #333
}

p {
font-size:4vw
}

#reel:hover {
transform:scale(1.5);
margin:2%
}

#title {
padding-bottom:40%
}

#title_text {
padding-top:20%
}

video,img {
width:42%;
height:42%;
box-shadow:3px 3px 5px #333;
transition:transform 1s,margin 1s,box-shadow 1s
}

.mix:hover {
box-shadow:5px 5px 10px #555;
transform:scale(1.5);
margin:2%
}
}





@media screen and (min-width: 360px) and (max-width: 640px) {
a,nav {
color:#fff
}

aside {
width:50%
}

button {
font-size:3vw
}

h2 {
font-size:8vw
}

h3 {
font-size:5vw
}

header {
background-color:rgba(153,153,153,.85)
}

.icons {
width:60%
}

.icons img {
width:20%
}

.logo {
width:35%;
padding-left:5%
}

nav {
font-size:4.5vw;
padding-right:7%;
padding-top:5%;
text-shadow:1px 1px 2px #333
}

p {
font-size:4vw
}

#reel:hover {
transform:scale(1.5);
margin:2%
}

#title {
padding-bottom:50%
}

video,img {
width:42%;
height:42%;
box-shadow:3px 3px 5px #333;
transition:transform 1s,margin 1s,box-shadow 1s
}

.mix:hover {
box-shadow:5px 5px 10px #555;
transform:scale(1.5);
margin:2%
}
}

@media screen and (min-width: 414px) and (max-width: 785px) {
a,nav {
color:#fff
}

aside {
width:50%
}

button {
font-size:3vw
}

h2 {
padding-top:10%;
font-size:8vw
}

h3 {
font-size:5vw
}

header {
background-color:rgba(153,153,153,.85)
}

.icons {
width:60%
}

.icons img {
width:20%
}

.logo {
width:30%;
padding-left:3%
}

nav {
font-size:4.5vw;
padding-right:7%;
padding-top:2.5%;
text-shadow:1px 1px 2px #333
}

p {
font-size:4vw
}

#reel:hover {
transform:scale(1.5);
margin:2%
}

#title {
padding-bottom:50%
}

#title_text {
padding-top:20%
}

video,img {
width:42%;
height:42%;
box-shadow:3px 3px 5px #333;
transition:transform 1s,margin 1s,box-shadow 1s
}

.mix:hover {
box-shadow:5px 5px 10px #555;
transform:scale(1.5);
margin:2%
}
}

@media screen and (min-width: 600px) and (max-width: 1024px) and (orientation: landscape) {
a,nav {
color:#fff
}

aside {
width:50%
}

button {
font-size:3vw
}

h2 {
padding-top:10%;
font-size:8vw
}

h3 {
font-size:5vw
}

header {
background-color:rgba(153,153,153,.85)
}

.icons {
width:60%
}

.icons img {
width:20%
}

.logo {
width:30%;
padding-left:5%
}

nav {
font-size:4vw;
padding-right:7%;
padding-top:3%;
text-shadow:1px 1px 2px #333
}

p {
font-size:4vw
}

#reel {
width:70%;
padding-top:20%
}

#reel:hover {
transform:scale(1.5);
margin:2%
}

#title {
padding-bottom:50%
}

#title_text {
padding-top:20%
}

video,img {
width:42%;
height:42%;
box-shadow:3px 3px 5px #333;
transition:transform 1s,margin 1s,box-shadow 1s
}

.mix:hover {
box-shadow:5px 5px 10px #555;
transform:scale(1.5);
margin:2%
}
}